/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* uni-css */
.btn-bg {
  background-color: #E76F51;
  padding: 10px 25px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}

/* uni-css  end*/

/* header */
#header {
  background-color: #264653;
}

.nav-link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
}

nav .navbar-nav li a {
  color: white !important;
}

nav .navbar-nav li a.active {
  color: #E76F51 !important;
}


.login-btn {
  margin-left: 50px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
}

.btn.login-btn:hover {
  margin-left: 50px;
  background-color: #ea3e13;
  color: #fff;
  border-radius: 5px;
  outline: none;
}





/* media query */

@media only screen and (max-width: 375px) {
  .login-btn {
    margin-left: 0px;
    margin-top: 20px;
  }
}